@font-face {
  font-family: 'averia bold';
  src:  url('../../fonts/averia-bold-webfont.woff2') format('woff2'),
        url('../../fonts/averia-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'averia bold italic';
  src:  url('../../fonts/averia-bolditalic-webfont.woff2') format('woff2'),
        url('../../fonts/averia-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'averia light';
  src:  url('../../fonts/averia-light-webfont.woff2') format('woff2'),
        url('../../fonts/averia-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'averia';
  src:  url('../../fonts/averia-regular-webfont.woff2') format('woff2'),
        url('../../fonts/averia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#react-root {
  height: 100%;
  color: #05381A;
}

body {
  font-family: 'averia', sans-serif;
  /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin: 0px;

  /* accounts for nav bar */
  padding-top: 120px;

  font-size: 16px;
  background-color: rgb(236, 245, 237);
}

button, h1, h2, h3, h4, h5, h6 {
  font-family: 'averia bold', sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  color: #05381A;
  text-decoration: none;
}
/* --------------------------------------------------------------------------------
Text
-------------------------------------------------------------------------------- */
.taskText, .goalTitleText {
  display: inline;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  width: 95%;
  padding: 0;
}

.centerFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */


.btn {
  display: inline-block;
  padding: 7px 13px;
  border: none;
  border-radius: 7px; 
  background-color: #006992;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.445);
  background-blend-mode:overlay;
  text-decoration: none;
}

.btn:active, .btn:focus {
  background-color: rgba(255, 255, 255, 0.445);
  background-blend-mode:overlay;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #054b02;
  color: #054b02;
}

.inlineBlock {
  display: inline-block;
}

.iconButton, .iconButton:disabled {
  display: inline;
  margin-right: 5px;
  /* remove default button styles */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.buttonButton {
  background-color: #006992;
  color: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 12px;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.buttonButton:hover, .buttonButton:focus {
  transform: scale(1.05);
}

.buttonButton:active, .buttonButton:target {
  transform: scale(1.08);
}

.buttonButton:hover, .buttonButton:active, .buttonButton:focus, .buttonButton:target {
  background-color: #1988b4;
  color: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 12px;
}

.floatTopButton {
  position: abolute;
  height: 30px;
  margin: 0;
}

.iconImage {
  height: 23px;
  margin: 2px;
}

.iconImageLarge{
  height: 30px;
  margin: 2px;
}

.iconImageXL {
  height: 40px;
}

.iconImageToggle {
  height: 45px;
}

.iconNudgeHigher {
  margin-bottom: 10px;
}

.fortyPxSpacer {
  height: 40px;
}

.iconAddSideMargins {
  margin-left: 8px;
  margin-right: 8px;
}

.thumbnailButton, .thumbnailButton:disabled {
  /* remove default button styles */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  /* padding: 28px; */
  
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 68%;
  min-width: 80%;
}

.imageFlip {
  transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	float: none;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #970909;
  background-color: #efefef;
  border-radius: 3px;
  color: #970909;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  border-style: solid;
  border-color:#05381A;
  border-width: 3px;
  border-radius: 8px;
}

input:hover, input:active, input:focus, input:target, input:focus-visible {
  margin: 5px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #006992;
  border-width: 3px;
  border-radius: 8px;
}

.goalTitleInput {
  margin: 5px;
  border-radius: 14px;
  border-width: 4px;
  padding: 0px 7px 0px 7px;
  height: 60px;
}

/* --------------------------------------------------------------------------------
Image
-------------------------------------------------------------------------------- */
.pageTitle, .pageSubTitle, .centerText {
  margin: auto;
  width: 100%;
  text-align: center;
}

.pageTitleNarrow {
  font-size: 42px;
  text-align: center;
  font-family: "averia bold";
}

.pageTitle {
  font-size: 42px;
  font-family: "averia bold";

  margin-top: 20px;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pageSubTitle {
  font-size: 28px;
}

.secondarySubtitle {
  font-size: 20px;
  font-family: "averia light";
}

.goalTitleArea {
  width: 100%;
}

.titleLeft {
  text-align: left;
  width: 100%;
}

.textEmojiBookends {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.emoji {
  height: 30px;
  margin: 0 15px;  
}

/*----
cards
*/

.cards {
  /* flexbox parent that holds the task and plant avatar cards */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;

  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cardsColumn {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

.cardArea {
  background-image: url('./BGPaper.png');
  background-color: rgba(125, 218, 255, 0.5);
  background-blend-mode:soft-light;

  background-size: cover;
  border-radius: 25px;
  width: 350px;
  min-height: 350px;

  position: relative;

  border: none;
  resize: both;

  padding: 20px;
  margin: 20px;

  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;

  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.accomplishedGoalBackground {
  background-image: url('./BGPaperStars.png');
  background-color: rgba(255, 208, 0, 0.562);
  background-blend-mode: overlay;

}
.cardAreaBlank {
  background-image: none;
  background-color: rgba(255, 255, 255, 0);

  box-shadow: none;
}


.cardAreaSmall {
  width: 200px;
  height: 275px;

  min-height: 275px;
}


.cardFitContent {
  flex: 1 1 auto;
  min-height: auto;
}

.taskCardArea {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;

  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cardAreaNavIcon {
  background-image: url('./BGPaperHC.png');
  background-size: cover;

  border-radius: 16px;
  border: none;

  margin: 0 5px;
  padding: 6px; 

  width: 70px;
  height: 70px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 8px rgb(0 0 0 / 0.2);
}

.cardYellow {
  background-color: rgba(255, 208, 0, 0.5);
  background-blend-mode:overlay;
}

.cardYellowVivid {
  background-color: rgba(119, 101, 0, 0.603);
  background-blend-mode: overlay;
}

.cardBlue {
  background-color: rgba(125, 218, 255, 0.5);
  background-blend-mode: soft-light;
}

.cardBlueVivid {
  background-color: rgba(54, 104, 128, 0.521);
  background-blend-mode: overlay;
}

.cardGreenVivid {
  background-color: rgba(0, 82, 20, 0.589);
  background-blend-mode: overlay;
}

.thumbnailGoalTitle {
  font-size: 24px;
  text-align: center;
}

.cardParent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.cardParentTasks, .cardParentProfileAvatar {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cardParentProfileAvatar  {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  width: 260px;
  height: 290px;
  min-height: 290px;
  position: relative;
}

.cardParentProfileAvatarEditMode {
  width: 350px;
  height: 420px;
}

.cardParentPlantAvatar {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  position: relative;
}

.avatarImagePieceParent {
  width: 300px; /*these may be overridden in ProfileImageThumbnail props*/
  height: 300px; /*these may be overridden in ProfileImageThumbnail props*/

  position: relative;
  overflow: hidden;
  display: inline-block;

  text-align: center;
} 

.avatarImagePiece {
  pointer-events: none; 
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 280px;
  object-fit: cover;
}

.avatarImagePieceBase {
  width: auto;
  position: relative;
}

.avatarImgPieceDivZoomed {
  position: relative;
  width: 250px;
  margin: auto;
}

.avatarImagePieceZoomed {
  height: 500px;
  top: 50%;
  left: 50%;
  object-position: 70% -50%;
  transform: translate(-50%, -31%);
}

.avatarButtonBack {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  
  margin-top: 50%;

  z-index: 30;
}

.avatarButtonNext {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;

  margin-top: 50%;

  z-index: 30;
}

.profileAvatarBackNext {
  margin-top: 0;
}

.avatarButtonEdit {
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 30;
}

.profileAvatarButtonEdit {
  top: 20px;
}

.plantAvatarImage {
  width: 200px;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  z-index: 2;
}

.plantAvatarThumbnail {
  position: relative;
}

.profileThumbnailParent {
  /* /todo hope to delete this after implementing ProfileImageThumbnail component instead */
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 150px;
}

.profileAvatarThumbnail {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.sunImage {
  position: absolute;
  width: 140px;
  z-index: 1;
  right: 10px; 
  top: 10px;
}

.taskContent {
  margin-bottom: 4px; 
}

.tasksContainter{
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.bottomButtonContainer {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;

  width: 100%;

  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  display: flex;
  justify-content: center;
  margin-top: 20px
}

.like {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.modal-dialog {
  margin-top: 100px;
}

.modal {
  font-size: 22px;
}

.modal-content {
  border-radius: 25px;
  border: none;

  height: auto;
  padding: 20px;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  background-image: url('./BGPaper.png');
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode:soft-light;
  
  background-size: cover;
}

.achieveModal .modal-content {
  background-image: url('./BGPaperStars.png');
}

.modal-header, .modal-body, .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  border: none;
}

.modal-body {
  padding: 0;
}

.modalBodyItem {
}

.modalImage {
  width: 150px;
}

.modal-title {
  font-size: 36px;
}


/* --------------------------------------------------------------------------------
Clickable
-------------------------------------------------------------------------------- */

.clickable {
  /* should I have just used buttons instead? probably */
}

.clickable:hover, .clickable:focus {
  transform: scale(1.05);
}

.clickable:active, .clickable:target {
  transform: scale(1.08);
}

.clickableSmall {

}

.clickableSmall:hover, .clickableSmall:focus {
  transform: scale(1.12);
}

.clickableSmall:active, .clickableSmall:target {
  transform: scale(1.2);
}

/* for images where we re-use the same .png facing the opposite direction, need to scale X axis as 'negative' */
.clickable:hover.imageFlip, .clickable:focus.imageFlip {
  transform: scale(-1.05, 1.05);
}
.clickable:active.imageFlip, .clickable:target.imageFlip {
  transform: scale(-1.08, 1.08);
}
.clickableSmall:hover.imageFlip, .clickableSmall:focus.imageFlip {
  transform: scale(-1.12, 1.12);
}
.clickableSmall:active.imageFlip, .clickableSmall:target.imageFlip {
  transform: scale(-1.2, 1.2);
}

.animateFadeIn {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;

  animation-iteration-count: 1;

}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}