@font-face {
  font-family: 'bakso sapi';
  src:  url('../../fonts/baksosapi-webfont.woff2') format('woff2'),
        url('../../fonts/baksosapi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mungil';
  src:  url('../../fonts/mungil-regular_2-webfont.woff2') format('woff2'),
        url('../../fonts/mungil-regular_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia serif bold';
  src:  url('../../fonts/averiaserif-bold-webfont.woff2') format('woff2'),
        url('../../fonts/averiaserif-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia serif light';
  src:  url('../../fonts/averiaserif-light-webfont.woff2') format('woff2'),
        url('../../fonts/averiaserif-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia serif';
  src:  url('../../fonts/averiaserif-regular-webfont.woff2') format('woff2'),
        url('../../fonts/averiaserif-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia bold';
  src:  url('../../fonts/averia-bold-webfont.woff2') format('woff2'),
        url('../../fonts/averia-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia light';
  src:  url('../../fonts/averia-light-webfont.woff2') format('woff2'),
        url('../../fonts/averia-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia';
  src:  url('../../fonts/averia-regular-webfont.woff2') format('woff2'),
        url('../../fonts/averia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roble';
  src:  url('../../fonts/roblefont-webfont.woff2') format('woff2'),
        url('../../fonts/roblefont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'averia', sans-serif;
  /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin: 0px;
  padding-top: 100px;
  background-color: rgb(236, 245, 237);
}

button, h1, h2, h3, h4, h5, h6 {
  font-family: 'averia bold', sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Text
-------------------------------------------------------------------------------- */
.taskText{
  display: inline;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 7px 13px;
  border: none;
  border-radius: 7px; 
  background-color: rgb(36, 143, 42);
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: rgb(53, 173, 59);
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #054b02;
  color: #054b02;
}

.iconButton {
  display: inline;
  width: 15px;
  margin-right: 5px;
  /* remove default button styles */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.thumbnailButton {
  /* remove default button styles */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Image
-------------------------------------------------------------------------------- */
.plantAvatarImage {
  width: 200px;
}

.plantAvatarThumbnail {
  width: 100px;
}

.pageTitle, .pageSubTitle {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 48px;
}

.pageSubTitle {
  font-size: 40px;
}

.cardArea {
  background-size: cover;
  border-radius: 25px;
  width: 350px;
  height: 500px;
  border: none;
  resize: both;
  padding: 20px;
  margin: 20px;
}

.cardYellow {
  background-image: url('./YellowBG.png');
}

.cardBlue {
  background-image: url('./BlueBG.png');
}
