@font-face {
  font-family: 'bakso sapi';
  src:  url('../../fonts/baksosapi-webfont.woff2') format('woff2'),
        url('../../fonts/baksosapi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mungil';
  src:  url('../../fonts/mungil-regular_2-webfont.woff2') format('woff2'),
        url('../../fonts/mungil-regular_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia serif bold';
  src:  url('../../fonts/averiaserif-bold-webfont.woff2') format('woff2'),
        url('../../fonts/averiaserif-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia serif light';
  src:  url('../../fonts/averiaserif-light-webfont.woff2') format('woff2'),
        url('../../fonts/averiaserif-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia serif';
  src:  url('../../fonts/averiaserif-regular-webfont.woff2') format('woff2'),
        url('../../fonts/averiaserif-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia bold';
  src:  url('../../fonts/averia-bold-webfont.woff2') format('woff2'),
        url('../../fonts/averia-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia light';
  src:  url('../../fonts/averia-light-webfont.woff2') format('woff2'),
        url('../../fonts/averia-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'averia';
  src:  url('../../fonts/averia-regular-webfont.woff2') format('woff2'),
        url('../../fonts/averia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roble';
  src:  url('../../fonts/roblefont-webfont.woff2') format('woff2'),
        url('../../fonts/roblefont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#react-root {
  height: 100%;
  color: #05381A;
}

body {
  font-family: 'averia', sans-serif;
  /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin: 0px;
  padding-top: 100px;
  font-size: 16px;
  background-color: rgb(236, 245, 237);
}

button, h1, h2, h3, h4, h5, h6 {
  font-family: 'averia bold', sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Text
-------------------------------------------------------------------------------- */
.taskText, .goalTitleText {
  display: inline;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  width: 95%;
  padding: 0;
}

.centerFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 7px 13px;
  border: none;
  border-radius: 7px; 
  background-color: #006992;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.445);
  background-blend-mode:overlay;
  text-decoration: none;
}

.btn:active, .btn:focus {
  background-color: rgba(255, 255, 255, 0.445);
  background-blend-mode:overlay;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #054b02;
  color: #054b02;
}

.iconButton, .iconButton:disabled {
  display: inline;
  margin-right: 5px;
  /* remove default button styles */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.buttonButton {
  background-color: #006992;
  color: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 12px;
}

.floatTopButton {
  position: abolute;
  height: 30px;
  margin: 0;
}

.buttonButton:hover, .buttonButton:active, .buttonButton:focus {
  background-color: #1988b4;
  color: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 12px;
}

.iconImage {
  height: 20px;
  padding: 0;
  margin: 0 0 3px 0;
}

.iconImageLarge{
  height: 30px;
  margin-bottom: 7px;
}

.iconImageXL {
  height: 40px;
}

.iconImageToggle {
  height: 45px;
}

.editDeleteButton {
  margin-left: 5px;
}

.thumbnailButton, .thumbnailButton:disabled {
  /* remove default button styles */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding: 28px;
}

.imageFlip {
  transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	float: none;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #970909;
  background-color: #efefef;
  border-radius: 3px;
  color: #970909;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
  border-style: solid;
  border-color:#05381A;
  border-width: 3px;
  border-radius: 8px;
}

input:hover, input:active, input:focus, input:target, input:focus-visible {
  margin: 5px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #006992;
  border-width: 3px;
  border-radius: 8px;
}

.goalTitleInput {
  margin: 5px;
  border-radius: 14px;
  border-width: 4px;
  padding: 0px 7px 0px 7px;
  height: 60px;
}

/* --------------------------------------------------------------------------------
Image
-------------------------------------------------------------------------------- */
.pageTitle, .pageSubTitle, .centerText {
  margin: auto;
  width: 100%;
  text-align: center;
}

.pageTitle {
  font-size: 42px;
}

.pageSubTitle {
  font-size: 28px;
}

.goalTitleArea {
  width: 100%;
}

/*----
cards
*/

.cards {
  /* flexbox parent that holds the task and plant avatar cards */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cardsColumn {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

.cardArea {
  background-size: cover;
  border-radius: 25px;
  width: 350px;
  min-height: 350px;

  position: relative;

  border: none;
  resize: both;
  padding: 20px;
  margin: 20px;

  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.cardFitContent {
  flex: 1 1 auto;
  min-height: auto;
}

.taskCardArea {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cardAreaSmall {
  background-image: url('./BGWatercolor.png');
  background-color: rgba(125, 218, 255, 0.5);
  background-blend-mode:soft-light;

  background-size: cover;
  border-radius: 25px;
  width: 200px;
  height: 275px;

  border: none;
  resize: both;
  padding: 20px;
  margin: 20px;

  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.cardYellow {
  background-image: url('./BGWatercolor.png');
  background-color: rgba(230, 199, 21, 0.5);
  background-blend-mode:overlay;
}

.cardBlue {
  background-image: url('./BGWatercolor.png');
  background-color: rgba(125, 218, 255, 0.5);
  background-blend-mode:soft-light;
}

.thumbnailGoalTitle {
  font-size: 24px;
  text-align: center;
}

.cardParent {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.cardParentTasks, .cardParentProfileAvatar {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cardParentProfileAvatar {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cardParentPlantAvatar {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  position: relative;
}

.avatarImagePieceParent {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
} 

.avatarImagePiece {
  pointer-events: none; 
  position: absolute;
  top: 0;
  right: 10px;
  width: 280px;
  object-fit: cover;
  /* object-position: 50% -150%; */
  /* transform: scale(0.5) translate(0, 5%)  */
}

.avatarImgPieceDivZoomed {
  position: relative;
  width: 250px;
  margin: auto;
}

.avatarImagePieceZoomed {
  height: 500px;
  right: 1px;
  object-position: 70% -50%;
  transform: translate(0%, -30%);
}

.avatarButtonBack {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;

  z-index: 99;
}

.avatarButtonNext {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;

  z-index: 99;
}

.avatarButtonEdit {
  position: absolute;
  right: 20px;
  top: 170px;
  z-index: 30;
}

.plantAvatarImage {
  width: 200px;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  z-index: 2;
}

.plantAvatarThumbnail {
  width: 100px;
}

.sunImage {
  position: absolute;
  width: 140px;
  z-index: 1;
  right: 10px; 
  top: 10px;
}

.taskContent {
  margin-bottom: 4px; 
}

.tasksContainter{
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.bottomButtonContainer {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  width: 100%;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;

  display: flex;
  justify-content: center;
  margin-top: 20px
}

.onTop {
  position: absolute;
}